<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="todolistmvp.modul">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:label="To Do List App"
        android:theme="@style/AzureTheme">
        <activity android:name=".home.HomeActivity"/>
        <activity android:name=".newtask.NewTaskActivity"/>
        <activity android:name=".edittask.EditTaskActivity"/>
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>